.Artists{
    width: 100%;
    height: auto;
    padding: 10px 40px;
    margin: 0;
    background-color:#fff;
}
.Artists h2{
    padding-left: 75px;
    padding-right: 75px;
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
    color: black;
    text-decoration: underline;
}
.colum-container{
    display: flex;
    height: auto;
    padding: 10px 40px;
}
.colum-one{
    flex: 1;
    padding: 10px 30px;
}
.colum-one-img{
    height: 250px;
    background-image: url("../../assets/img/imagen7.jpg");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%); /* Convertir a blanco y negro */
    position: relative;
}
.img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.colum-two{
    flex: 2;
    padding: 20px;
    font-size: 18px;
    text-align: justify;
    font-weight: 600;
    display: flex;
    align-items: center;
}