.container-list{
    padding: 30px 7%;
}
.employee-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.employee-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 25px;
    width: 300px;
    height: 500px;
}
.img-container-card {
    width: 100%;
    margin: 0;
    padding: 2px;
    border: 1px solid #fff;
}
.img-container-card img {
    width: 100%;
    height: 300px; /* Ajusta la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen ocupe todo el contenedor sin distorsionarse */
    filter: grayscale(100%);
    transition: filter 0.1s ease;
}
.text-container-card {
    width: 100%;
    position: relative;
}
.text-container-card .name {
    color: #fff;
    font: 26px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
.text-container-card .descripcion {
    font-size: 11px;
    margin: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}
.text-container-card button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding: 0;
    color: #fff;
}
.text-container-card button:hover{
    text-decoration: underline;
}

